
<md-radio-group ng-model="vm.selected" layout="row" class="md-primary" layout-align="center" ng-click="vm.filterBallots()">
  <md-radio-button value="all">All ballots</md-radio-button>
  <md-radio-button value="open">My pendings</md-radio-button>
  <md-radio-button value="voted">My votes</md-radio-button>
  <md-radio-button value="delegated">My delegations</md-radio-button>
</md-radio-group>

<div ng-repeat="ballot in vm.ballots">
  <div class="ballot-container">
    <div class="description-div">
      <div>
        {{ballot.desc}}
      </div>
    </div>
    <div class="author-div">
      <!-- FILLER FOR METAMASK IMAGE-->
      <div class="identicon">
        <img width=30 height=30 data-ng-src="data:image/png;base64,{{ballot.icon}}">
      </div>
      <div class="ballot-author">
        <span class="ballot-author-text">{{ballot.author}}</span>
        <span class="ballot-date">{{ballot.date}}</span>
      </div>
    </div>
    <div class="yes-no-results-container">
      <p class="votes-cast">
        {{vm.getTotalVotes(ballot.votes)}} votes cast:
      </p>
      <div class="vote-representation-container">
        <div class="yes-vote-cast-div" ng-style="{'width':'{{vm.getWidth(ballot.votes, 1)}}%'}">
          <p class="yes-votes-cast">
            {{vm.getOption(ballot.votes, 1)}}
          </p>
        </div>
        <div class="no-vote-cast-div" ng-style="{'width':'{{vm.getWidth(ballot.votes, 2)}}%'}">
          <p class="no-votes-cast">
            {{vm.getOption(ballot.votes, 2)}}
          </p>
        </div>
      </div>
    </div>
    <p ng-if="vm.selected=='all'">{{vm.getStatus(ballot)}}</p>
    <div class="button-container">
      <button ng-click="vm.ballotDetail(ballot)" class="view-ballot">
        View Ballot
      </button>
      <button ng-click="vm.ballotDashboard(ballot)" class="view-ballot">
        Dashboard
      </button>
    </div>
  </div>
  
  <md-button class="md-fab md-fab-bottom-right" aria-label="Add a new ballot" ng-click="vm.addBallot($event)">
    <ng-md-icon icon="add"></ng-md-icon>
  </md-button>    
</div>
