<md-dialog aria-label="Add Ballot" class="layout-md">
  <md-content class="md-padding" style="width:500px;">
    <form name="addBallotForm"> <h2>Add Ballot</h2>
      <md-input-container>
          <label>Description</label>
            <textarea md-maxlength="140" rows="3" ng-model="newBallot.desc"></textarea>
        </md-input-container>
    </form> </md-content>
  <div class="md-actions" layout="row">
    <span flex></span>
    <md-button ng-click="cancel()"> Cancel </md-button>
    <md-button ng-click="answer(newBallot)" class="md-primary"> Add </md-button>
    </div>
  </md-dialog>
