<div class="back-button-div">
  <button ng-click="vm.back()" class="view-ballot">
    Back
  </button>
</div>

<div class="ballot-container">
  <div class="description-div">
    <div>
        {{vm.ballot.desc}}
    </div>
  </div>
  <div class="author-div">
    <!-- FILLER FOR METAMASK IMAGE-->
    <div class="identicon">
        <img width=30 height=30 data-ng-src="data:image/png;base64,{{vm.ballot.icon}}">
      </div>
    <div class="ballot-author">
      <span class="ballot-author-text">{{vm.ballot.author}}</span>
      <span class="ballot-date">{{vm.ballot.date}}</span>
    </div>
  </div>
  <div class="yes-no-results-container">
    <p class="votes-cast">
      {{vm.ballot.total}} votes cast:
    </p>
    <div class="vote-representation-container">
      <div class="yes-vote-cast-div" ng-style="{'width':'{{vm.op1.width}}%'}">
        <p class="yes-votes-cast">
          {{vm.op1.desc}} {{vm.op1.porc}} % ({{vm.ballot.option1}})
        </p>
      </div>
      <div class="no-vote-cast-div" ng-style="{'width':'{{vm.op2.width}}%'}">
        <p class="no-votes-cast">
          {{vm.op2.desc}} {{vm.op2.porc}}% ({{vm.ballot.option2}})
        </p>
      </div>
    </div>
  </div>
  <div>
    <div ng-hide="vm.ballot.delegated == true || vm.ballot.voted == true" class="tab-div">
          <md-tabs>
              <md-tab label="vote">
                <md-content class="md-padding">
                    <md-radio-group ng-model="voteValue">
                        <md-radio-button value="yes" class="md-primary">Yes</md-radio-button>
                        <md-radio-button value="no"> No </md-radio-button>
                      </md-radio-group>
                </md-content>
                <md-button ng-disabled="voteValue ? false: true" class="md-raised md-primary" ng-click="vm.vote(voteValue)">Vote</md-button>
              </md-tab>
              <md-tab label="delegate">
                  <md-radio-group ng-model="delegateValue">
                      <md-radio-button ng-repeat="user in users"
                                       ng-value="user.id"
                                       aria-label="{{user.name}}">
                          <div class="identicon">
                              <img width=30 height=30 data-ng-src="data:image/png;base64,{{user.icon}}">
                            </div>
                          {{user.name}}
                      </md-radio-button>
                    </md-radio-group>
                  <md-button ng-disabled="delegateValue ? false: true" class="md-raised md-primary" ng-click="vm.delegate(delegateValue)">Delegate</md-button>
              </md-tab>
            </md-tabs>
    </div>
    <md-button ng-show="vm.ballot.voted == true" class="md-raised md-primary" ng-click="vm.removeVote()">Remove vote</md-button>
    <md-button ng-show="vm.ballot.delegated == true" class="md-raised md-primary" ng-click="vm.removeDelegation()">Remove delegation</md-button>
  </div>
  </div>

<div class="graph-container">
  <div class="yes-container" id="yes-container" style="height:  50vh;">
    <!-- <p class="yes-graph-title">Yes</p> -->
  </div>
  <div class="no-container" id="no-container" style="height: 50vh;">
    <!-- <p class="no-graph-title">No</p> -->
  </div>
  <div class="delegates-container" id="delegates-container" style="height: 50vh;">
    <!-- <p class="delegates-graph-title">Delegates</p> -->
  </div>
</div>