body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #eee;
}

.bottomSheetdemoBasicUsage .md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle;
}

.bottomSheetdemoBasicUsage .md-grid-item-content {
  height: 90px;
  padding-top: 10px;
}

.bottomSheetdemoBasicUsage .md-grid-item-content md-icon {
  height: 48px;
  width: 48px;
}

.bottomSheetdemoBasicUsage .md-grid-text {
  padding-bottom: 5px;
}

.bottomSheetdemoBasicUsage md-list-item, .bottomSheetdemoBasicUsage md-list-item ._md-list-item-inner {
  min-height: 48px;
}

.bottomSheetdemoBasicUsage h2 {
  line-height: 36px;
  padding-top: 10px;
}

.bottomSheetdemoBasicUsage .md-subheader ._md-subheader-inner {
  padding: 0;
}

.bottomSheetdemoBasicUsage md-toast .md-toast-content {
  background-color: #B14141;
}

.bottomSheetdemoBasicUsage md-toast>* {
  font-weight: bolder;
}

.md-toolbar-tools {
  background-color: #33273E;
}

.md-toolbar-tools img {
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.description-div {
  width: 100%;
  font-weight: bold;
}

.author-div {
  width: 100%;
  display: block;
}

.ballot-container {
  width: 500px;
  min-height: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px #CCCCCC solid;
  border-radius: 6px;
  margin-bottom: 12px;
  padding: 12px;
}

.author-div {
  width: 500px;
  margin: 0 auto;
  float: left;
}

.identicon {
  width: 30px;
  display: inline-block;
  float: left;
}

.ballot-author {
  width: 464px;
  display: inline-block;
  padding-left: 6px;
  padding-top: 3px;
}

.ballot-date {
  float: right;
  text-align: right;
  margin: 0;
  padding: 0;
}

.container-div {
  height: 500px;
  background: red;
}

.description-div {
  padding-bottom: 12px;
}

.button-container {
  text-align: right;
}

.md-button.md-fab {
  background-color: #FFA085;
}

.md-button.md-fab:not([disabled]):hover {
  background-color: #FFE079;
}

.view-ballot {
  margin-top: 12px;
  background: #008CFE;
  color: #FFFFFF;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px transparent;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 18px;
}

.signup-login-button {
  margin-top: 3px;
  background: none;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 6px;
  font-size: 14px;
}

.header-spacer-right {
  width: 200px;
  text-align: left;
}

.header-spacer-left {
  width: 200px;
  text-align: right;
}

.md-fab md-fab-bottom-right {
  background: black;
}

.graph-container {
  height: 1000px;
  width: 100%;
  min-width: 500px;
  float: left;
  padding: 0;
  margin: 0;
}

.yes-container {
  width: 49%;
  height: 1000px;
  display: inline-block;
  border: 1px #CCCCCC solid;
  border-radius: 6px;
}

.no-container {
  width: 49%;
  display: inline-block;
  height: 1000px;
  float: right;
  border: 1px #CCCCCC solid;
  border-radius: 6px;
}

.yes-graph-title {
  font-weight: bold;
  text-align: center;
}

.no-graph-title {
  font-weight: bold;
  text-align: center;
}

.ballot-author-text {}

.ballot-date {
  color: #BBBBBB;
}

.yes-no-results-container {
  padding: 0;
  margin: 0;
}

.yes-no-results-container {
  display: block;
  margin-top: 48px;
}

.votes-cast {
  margin: 0;
  padding: 0;
}

.yes-votes-cast {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.no-votes-cast {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.yes-vote-cast-div {
  width: 236px;
  display: inline-block;
  background: #00C091;
  padding: 6px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  float: left;
}

.no-vote-cast-div {
  width: 236px;
  display: inline-block;
  background: #FD6581;
  padding: 6px;
  margin: 0;
  text-align: center;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  float: left;
}

.vote-representation-container {
  padding: 0;
  margin: 0;
}

.back-button-div {
  margin: 0;
  padding: 0;
  margin-top: -12px;
  margin-bottom: 12px;
}

.tab-div {
  width: 464px;
  display: inline-block;
  padding-left: 6px;
}

md-input-container {
  width: 100%;
}

/* ATOMS */

/* BALLOT DASHBOARD */

/*Top Titles*/

.ballot-dashboard-top-container {
  width: 984px;
  margin: 0;
  padding: 0px;
  border: none;
  margin-top: 36px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.ballot-dashboard-top-titles {
  margin: 0;
  padding: 0;
  border: none;
}

.ballot-details-container-title {
  width: 648px;
  margin: 0;
  padding: 0;
  border: none;
  display: inline-block;
}

.box-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  border: none;
  color: #979797;
}

.ballot-actions-container-title {
  width: 312px;
  margin: 0;
  padding: 0;
  border: none;
  margin-left: 19px;
  /*WHY ?!?!!?!*/
  display: inline-block;
}

/* Ballot Details*/

.ballot-details-container {
  width: 648px;
  height: 400px;
  margin: 0;
  padding: 0;
  background: #FFFFFF;
  border: solid 1px #D8D8D8;
  border-radius: 6px;
  display: inline-block;
  float: left;
}

.ballot-title {
  margin: 0;
  padding: 0;
  max-width: 528px;
  font-style: regular;
  font-size: 24px;
  line-height: 30px;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
}

.ballot-action-container {
  width: 312px;
  height: 400px;
  margin: 0;
  margin-left: 19px;
  /*WHY?!?*/
  padding: 0;
  background: #FFFFFF;
  border: solid 1px #D8D8D8;
  border-radius: 6px;
  display: inline-block;
}

.yes-bar-container {
  width: 528px;
  height: 48px;
  border-radius: 24px;
  margin-left: 24px;
  margin-top: 24px;
  background: #979797;
  border: 1px solid #D8D8D8;
}

.yes-bar-slider {
  width: 75%;
  /*This width should dynamically change*/
  height: 48px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  background: #00C091;
  border: 1px solid #009873;
  margin-top: -1px !important;
  margin-left: -1px !important;
}

.no-bar-container {
  width: 528px;
  height: 48px;
  border-radius: 24px;
  margin-left: 24px;
  margin-top: 12px;
  background: #979797;
  border: 1px solid #D8D8D8;
}

.no-bar-slider {
  width: 25%;
  /*This width should dynamically change*/
  height: 48px;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  background: #FD6581;
  border: 1px solid #D23B57;
  margin-top: -1px !important;
  margin-left: -1px !important;
}

.slider-text {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  margin-left: 24px !important;
  margin-top: 12px;
  color: #FFFFFF;
  width: 50px;
  display: inline-block;
}

.slider-details {
  font-size: 16px;
  line-height: 24px;
  margin-top: -37px;
  margin-right: 24px;
  text-align: right;
  color: #FFFFFF;
  float: right;
}

.ballot-subtitles-container {
  margin: 0;
  padding: 0;
  margin-top: 6px;
}

.ballot-subtitle {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin-left: 24px;
}

.ballot-subtitle-dynamic {
  margin: 0;
  padding: 0;
  display: inline-block;
  font-weight: bold;
}

.ballot-details-tag {
  background: #FAFAFA;
  border: 1px solid #D8D8D8;
  width: 120px;

}



/* Style the tab */

.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */

.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */

.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.ballot-representation-container {
  width: 984px;
  height: 400px;
  margin: 0;
  padding: 0px;
  border: none;
  margin-top: 36px;
  margin-right: auto;
  margin-left: auto;
  background: #FFFFFF;
  border: solid 1px #D8D8D8;
  border-radius: 6px;
  display: inline-block;
  float: left;
}
