body {
  margin: 0;
  font-family: 'Roboto', 'Noto', sans-serif;
  line-height: 1.5;
  min-height: 100vh;
  background-color: #eee;
}

.bottomSheetdemoBasicUsage .md-inline-list-icon-label {
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: -10px;
  height: 24px;
  vertical-align: middle;
}

.bottomSheetdemoBasicUsage .md-grid-item-content {
  height: 90px;
  padding-top: 10px;
}

.bottomSheetdemoBasicUsage .md-grid-item-content md-icon {
  height: 48px;
  width: 48px;
}

.bottomSheetdemoBasicUsage .md-grid-text {
  padding-bottom: 5px;
}

.bottomSheetdemoBasicUsage md-list-item, .bottomSheetdemoBasicUsage md-list-item ._md-list-item-inner {
  min-height: 48px;
}

.bottomSheetdemoBasicUsage h2 {
  line-height: 36px;
  padding-top: 10px;
}

.bottomSheetdemoBasicUsage .md-subheader ._md-subheader-inner {
  padding: 0;
}

.bottomSheetdemoBasicUsage md-toast .md-toast-content {
  background-color: #B14141;
}

.bottomSheetdemoBasicUsage md-toast>* {
  font-weight: bolder;
}

.md-toolbar-tools {
  background-color: #33273E;
}

.md-toolbar-tools img {
  width: 30px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.description-div {
  width: 100%;
  font-weight: bold;
}

.author-div {
  width: 100%;
  display: block;
}

.ballot-container {
  width: 500px;
  min-height: 80px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: 1px #CCCCCC solid;
  border-radius: 6px;
  margin-bottom: 12px;
  padding: 12px;
}

.author-div {
  width: 500px;
  margin: 0 auto;
  float: left;
}

.identicon {
  width: 30px;
  display: inline-block;
  float: left;
}

.ballot-author {
  width: 464px;
  display: inline-block;
  padding-left: 6px;
  padding-top: 3px;
}

.ballot-date {
  float: right;
  text-align: right;
  margin: 0;
  padding: 0;
}

.container-div {
  height: 500px;
  background: red;
}

.description-div {
  padding-bottom: 12px;
}

.button-container {
  text-align: right;
}
.md-button.md-fab {
  background-color: #FFA085;
}
.md-button.md-fab:not([disabled]):hover {
  background-color: #FFE079;
}

.view-ballot {
  margin-top: 12px;
  background: #008CFE;
  color: #FFFFFF;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px transparent;
  border-radius: 6px;
  font-weight: bold;
  margin-top: 18px;
}

.signup-login-button {
  margin-top: 3px;
  background: none;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 6px;
  font-size: 14px;
}

.header-spacer-right {
  width: 200px;
  text-align: left;
}

.header-spacer-left {
  width: 200px;
  text-align: right;
}

.md-fab md-fab-bottom-right {
  background: black;
}

.graph-container {
  height: 1000px;
  width: 100%;
  min-width: 500px;
  float: left;
  padding: 0;
  margin: 0;
}

.yes-container {
  width: 49%;
  height: 1000px;
  display: inline-block;
  border: 1px #CCCCCC solid;
  border-radius: 6px;
}

.no-container {
  width: 49%;
  display: inline-block;
  height: 1000px;
  float: right;
  border: 1px #CCCCCC solid;
  border-radius: 6px;
}

.yes-graph-title {
  font-weight: bold;
  text-align: center;
}

.no-graph-title {
  font-weight: bold;
  text-align: center;
}

.ballot-author-text {}

.ballot-date {
  color: #BBBBBB;
}

.yes-no-results-container {
  padding: 0;
  margin: 0;
}

.yes-no-results-container {
  display: block;
  margin-top: 48px;
}

.votes-cast {
  margin: 0;
  padding: 0;
}

.yes-votes-cast {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.no-votes-cast {
  margin: 0;
  padding: 0;
  color: #FFFFFF;
}

.yes-vote-cast-div {
  width: 236px;
  display: inline-block;
  background: #00C091;
  padding: 6px;
  margin: 0;
  text-align: center;
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  float: left;
}

.no-vote-cast-div {
  width: 236px;
  display: inline-block;
  background: #FD6581;
  padding: 6px;
  margin: 0;
  text-align: center;
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  float: left;
}

.vote-representation-container {
  padding: 0;
  margin: 0;
}

.back-button-div {
  margin: 0;
  padding:0;
  margin-top: -12px;
  margin-bottom: 12px;
}
.tab-div {
  width: 464px;
  display: inline-block;
  padding-left: 6px;
}
