<div class="ballot-dashboard-top-container">
    
    <div class="ballot-dashboard-top-titles">
        <div class="ballot-details-container-title">
            <p class="box-title">BALLOT DETAILS</p>
        </div>
        <div class="ballot-actions-container-title">
            <p class="box-title">YOUR ACTIONS</p>
        </div>
    </div>
    <div class="ballot-details-container">
        <p class="ballot-title">{{vm.ballot.desc}}</p>
        
        <div class="ballot-subtitles-container">
            <p class="ballot-subtitle">Posted by</p>
            <p class="ballot-subtitle-dynamic">Open Coop Conference, 2hours ago</p>
        </div>

			<div class="yes-bar-container">
					<div class="yes-bar-slider" ng-style="{'width':'{{vm.getWidth(vm.ballot.votes, 1)}}%'}">
							<p class="slider-text">
									Yes
							</p>
					</div>
					<p class="slider-details">
							{{vm.ballot.votes.totals[0]}} Votes / {{vm.getWidth(vm.ballot.votes, 1)}}%
					</p>
			</div>

			<div class="no-bar-container">
					<div class="no-bar-slider" ng-style="{'width':'{{vm.getWidth(vm.ballot.votes, 2)}}%'}">
							<p class="slider-text">
									No
							</p>
					</div>
					<p class="slider-details">
							{{vm.ballot.votes.totals[1]}} Votes / {{vm.getWidth(vm.ballot.votes, 2)}}%
					</p>
			</div>

        <ul class="ballot-details-tag-list">
            <li class="ballot-details-tag-item">
                 XX Cast Votes
            </li>
            <li class="ballot-details-tag-item not-first-tag-item">
                 XX Undecided Votes
            </li>
        </ul>

        <p class="ballot-refresh-notice">
            Refresh this page for the most recent data on this ballot.
        </p>

	</div>
   
	<div class="ballot-action-container">
		<div class="tab">
			<button class="tablinks" ng-click="vm.setTab(1)">Vote</button>
			<button class="tablinks" ng-click="vm.setTab(2)">Delegation</button>
		</div>
		<div class="tabcontent">
			<div ng-show="vm.tabIsSet(1)">
					<h4>Vote</h4>
					<form ng-submit="vm.vote(voteValue)">
						<input type="radio" ng-model="voteValue" value="yes">Yes
						<input type="radio" ng-model="voteValue" value="no">No
					</form>
				<button ng-disabled="voteValue ? false: true" ng-click="vm.vote(voteValue)">Vote</button>
			</div>
			<div ng-show="vm.tabIsSet(2)">
				<h4>Delegation</h4>
			</div>
		</div>
	</div>
	<div class="ballot-representation-container">
		<div class="graph-container">
				<div class="yes-container" id="yes-container" style="height:  50vh;">
					<!-- <p class="yes-graph-title">Yes</p> -->
				</div>
				<div class="no-container" id="no-container" style="height: 50vh;">
					<!-- <p class="no-graph-title">No</p> -->
				</div>
			</div>
	</div>

</div>